<div class="game-container">
  <div class="game-title">{{ gameTopTitle }}</div>
  <div class="game-cards">
    <app-card
      *ngFor="let el of data?.gameType"
      [title]="(el.title | async) || ''"
      [titleIcon]="el.titleIcon"
      [paragraphTitle]="el.paragraphTitle"
      [gameType]="el.gameType"
      [btnText]="el.btnText"
      (emitClick)="handleClick($event)"
      [btnDisabled]="el.btnDisabled | async"
      [user]="el.user"
      [score]="el.score | async"
      [winner]="winner$ | async"
    ></app-card>
  </div>
  <div style="height: 90px">
    <div class="game-actions" *ngIf="resetStatus$ | async">
      <button mat-flat-button class="custom-mat-button" (click)="resetGame()">Play again</button>
      <button
        *ngIf="switchTo"
        mat-flat-button
        class="custom-mat-button"
        (click)="switchGame(switchTo)"
      >
        Switch to {{ switchTo }}
      </button>
    </div>
  </div>
</div>
