<mat-card class="card">
  <div
    [ngStyle]="{
      'background-image': 'url(./assets/imgs/hyperspace.jpg)',
    }"
    mat-card-image
    class="img-container"
  >
    <app-svg *ngIf="name; elseBlock" [name]="name"></app-svg>
    <div class="title-container" *ngIf="title">
      <p
        [class.winner]="(user === 'one' && winner?.one) || (user === 'two' && winner?.two)"
        [class.looser]="
          (user === 'one' && winner?.one === false) || (user === 'two' && winner?.two === false)
        "
      >
        {{ title }}
        <!-- <app-svg *ngIf="titleIcon" [name]="titleIcon"></app-svg>   -->
      </p>
    </div>
  </div>
  <mat-card-content>
    <p style="padding-top: 20px; font-size: 20px">{{ paragraphTitle }}</p>
    <p *ngIf="score !== null">{{ score }}</p>
  </mat-card-content>
  <div style="flex-grow: 1">
    <div *ngIf="user === 'one' && winner?.one">
      <mat-card-content style="color: #d5a419"> Winner!!! 🎉🎉</mat-card-content>
    </div>
    <div *ngIf="user === 'two' && winner?.two">
      <mat-card-content style="color: #d5a419"> Winner!!! 🎉🎉</mat-card-content>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      mat-flat-button
      class="custom-mat-button"
      (click)="emitType(gameType, user)"
      [disabled]="btnDisabled"
    >
      {{ btnText }}
    </button>
  </mat-card-actions>
</mat-card>
