<mat-card class="card">
  <div
    [ngStyle]="{ 'background-image': 'url(./assets/imgs/hyperspace.jpg)' }"
    mat-card-image
    class="img-container"
  >
    <app-svg *ngIf="name; elseBlock" [name]="name"></app-svg>
    <div class="title-container" *ngIf="title">
      <p>
        {{ title }}
        <!-- <app-svg *ngIf="titleIcon" [name]="titleIcon"></app-svg>   -->
      </p>
    </div>
  </div>
  <mat-card-content>
    <p style="padding-top: 20px; font-size: 20px">{{ paragraphTitle }}</p>
    <p *ngIf="score !== null">{{ score }}</p>
  </mat-card-content>
  <div style="flex-grow: 1"></div>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      mat-flat-button
      class="custom-mat-button"
      (click)="emitType(gameType, user)"
      [disabled]="btnDisabled"
    >
      {{ btnText }}
    </button>
  </mat-card-actions>
</mat-card>
