<mat-card class="card">
  <div
    [ngStyle]="{ 'background-image': 'url(./assets/imgs/hyperspace.jpg)' }"
    mat-card-image
    class="img-container"
  >
    <app-svg *ngIf="name; elseBlock" [name]="name"></app-svg>
    <div class="title-container" *ngIf="title">
      <p>{{ title }}</p>
      <app-svg *ngIf="titleIcon" [name]="titleIcon"></app-svg>
    </div>
  </div>
  <mat-card-content>
    <p style="padding-top: 10px">{{ paragraphTitle }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Select</button>
  </mat-card-actions>
</mat-card>
