/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
/* Angular Material Global Overrsides*/
.mat-mdc-unelevated-button:not(:disabled).custom-mat-button {
  background-color: #1a1b1f;
}
